.tw-followCard {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #fff;
  font-size: 0.8rem;
}
.tw-followCard-header {
  display: flex;
  align-items: center;
  gap: 0.25em;
}

.tw-followCard-info {
  display: flex;
  flex-direction: column;
}

.tw-followCard-infoUserName {
  opacity: 0.6;
}

.tw-followCard-avatar {
  width: 3.01em;
  height: 3.01em;
  border-radius: 62.7em;
}

.tw-followCard-button {
  margin-left: 1em;
  border: 0;
  border-radius: 62.7em;
  padding: 0.37em 1em;
  font-weight: bold;
  cursor: pointer;
}

.tw-followCard-button:hover {
  opacity: 0.8;
}

.tw-followCard-text {
  display: block;
}

.tw-followCard-button.is-following {
  border: 1px solid #bbb;
  background: transparent;
  color: #fff;
  width: 120px;
}

.tw-followCard-button.is-following:hover {
  background: rgba(255, 0, 0, 0.178);
  color: red;
  border: 1px solid red;
  transition: 0.3s ease all;
  opacity: 1;
}

.tw-followCard-button.is-following:hover .tw-followCard-text {
  display: none;
}

.tw-followCard-button.is-following:hover .tw-followCard-stopFollow {
  display: block;
}

.tw-followCard-stopFollow {
  display: none;
}
